:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --footer-bg-color: #2f303a;
  --footer-contact-text-color: rgba(255, 255, 255, 0.6);
  --portfolio-btn-color: #f5f4fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

/* .link {
  text-decoration: none;
} */

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

body {
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h2,
h3 {
  color: var(--secondary-text-color);
}

.link-decoration {
  text-decoration: none;
  font-family: inherit;
}

.link-flex {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ======== Логотип ======== */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.logo-dark {
  color: var(--secondary-text-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-light {
  color: var(--white-text-color);
}
/* ======== END Логотип ======== */

/* ======== HEADER ======== */
.header-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-color {
  color: var(--main-text-color);
}

.link-color {
  color: var(--accent-text-color);
}

header .container,
.header-nav,
.header-nav ul,
.header-contact,
.header li {
  display: flex;
}
.header-nav li:not(:last-child),
.header-contact li:not(:last-child) {
  margin-right: 50px;
}

.header-contact {
  margin-left: auto;
}

.header-nav li > a,
.header-contact a {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  /* background-color: aquamarine; */
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ececec;
}
/* ======== END HEADER ======== */

/* ======== HERO ======== */

/* .section .hero {
  display: flex;
  justify-content: center;
} */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;

  text-align: center;
  justify-content: center;

  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/hero.jpg);
}

.hero-text {
  width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.hero-btn {
  cursor: pointer;

  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  background-color: var(--accent-text-color);
  color: var(--white-text-color);

  border: transparent;
  border-radius: 4px;
}

/* ======== END HERO ======== */

/* ======== ОСОБЕННОСТИ ======== */
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features {
  /* padding-top: 94px; */
  padding-bottom: 0;
}

.features-list {
  /* padding-top: 16px; */
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  /* background-color: turquoise; */
}

.features-list li {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  /* background-color: turquoise; */
}

.features-item-icon {
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;

  background-color: #f5f4fa;
  border-radius: 4px;
}
/* ======== END ОСОБЕННОСТИ ======== */

/* ======== Чем мы занимаемся ======== */
.doing-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.doing-list li {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.doing-list {
  /* padding-top: 0px; */
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  /* background-color: turquoise; */
}

/* ======== END Чем мы занимаемся ======== */

/* ======== Наша команда ======== */
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.teamets-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.teamets-features {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teamets-post-text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list > li {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  background-color: #f5f4fa;
}

.social-networks-list {
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
}

.social-networks-list > li {
  width: 44px;
  height: 44px;
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* background-color: cyan; */
}

.social-networks-icon {
  fill: #afb1b8;
}

.social-networks:hover,
.social-networks:focus {
  background-color: var(--accent-text-color);
}

.social-networks:hover .social-networks-icon,
.social-networks:focus .social-networks-icon {
  fill: #ffffff;
}

/* ======== END Наша команда ======== */

/* ======== Постоянные клиенты ======== */
.client-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.client-icon {
  fill: #afb1b8;
}

.clent-icon-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-list a {
  display: flex;

  width: 170px;
  height: 90px;
}

.clent-icon-border:hover,
.clent-icon-border:focus {
  border: 1px solid var(--accent-text-color);
}

.clent-icon-border:hover .client-icon,
.clent-icon-border:focus .client-icon {
  fill: var(--accent-text-color);
}

/* ======== END Постоянные клиенты ======== */

/* ======== FOOTER ======== */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer-container {
  padding-left: 15px;
  padding-right: 15px;
  /* margin-left: auto; */
  margin-right: 70px;
}

.address {
  margin-top: 20px;
}

.address li:not(:last-child) {
  margin-bottom: 9px;
}

/* .address li {
  display: flex;
} */

.map-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.footer-contact-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-text-color);
}
.header-text:hover,
.header-text:focus,
.map-text:hover,
.map-text:focus,
.footer-contact-text:hover,
.footer-contact-text:focus {
  color: var(--accent-text-color);
}

.ft-flex {
  display: flex;
  align-items: center;
}

.join {
  width: 206px;
  height: 80px;
}

.join p {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.join-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.join-icon-item:hover,
.join-icon-item:focus {
  background-color: var(--accent-text-color);
}

.join-list {
  display: flex;
  justify-content: space-between;
}

.join-icon {
  fill: var(--white-text-color);
}
/* ======== END FOOTER ======== */

/* ======== PORTFOLIO BUTTON ======== */
.portfolio-btn {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  cursor: pointer;

  background-color: var(--portfolio-btn-color);
  border-radius: 4px;
  border: 1px solid transparent;
}

.portfolio-btn:hover,
/* .portfolio-btn:active  */
.portfolio-btn:focus {
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
  border: 1px solid transparent;
  outline: none;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.all {
  background-color: var(--accent-text-color);
}

.portfolio-btn-list {
  justify-content: center;
  display: flex;
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 50px;
}

.portfolio-btn-list li:not(:last-child) {
  margin-right: 8px;
}

/* ======== END PORTFOLIO BUTTON ======== */

/* ======== PORTFOLIO CARD ======== */
.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-card li {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.card-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: transparent;
}

.card-description h3 {
  margin-bottom: 4px;
}

.portfolio-card-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card-text {
  font-size: 16px;
  line-height: 1.97;
  letter-spacing: 0.03em;
}

.list-decoration:hover,
.list-decoration:focus {
  /* background-color: yellowgreen; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* ======== END PORTFOLIO CARD ======== */
