.doing__title {
  margin-bottom: 50px;

  @include font(700, 36px, 1.17);
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.doing-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.doing-list__item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.doing-list__text-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: rgba(47, 48, 58, 0.8);
}

.doing-list__text {
  @include font($fw: 700);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);
}
