.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address-container {
  padding-left: 15px;
  padding-right: 15px;
}

.address {
  margin-top: 20px;
}

.address li:not(:last-child) {
  margin-bottom: 9px;
}

.address__map-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact-text {
  @include font($lh: 1.71);
  // font-size: 14px;
  // line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__map-text:hover,
.address__map-text:focus,
.address__contact-text:hover,
.address__contact-text:focus {
  color: var(--accent-text-color);
}

.join {
  width: 206px;
  height: 80px;
}

.join__title {
  margin-bottom: 20px;

  @include font($fw: 700);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.join-list {
  display: flex;
  justify-content: space-between;
}

.join-list__item {
  width: 44px;
  height: 44px;
}
.join-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
}

.join-list__icon {
  fill: var(--white-text-color);
}
