.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  z-index: 1;
  width: 528px;
  height: 580px;
  padding: 40px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    fill: var(--accent-text-color);
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__tytle {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.modal__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--main-text-color);
}

.modal__input-box {
  position: relative;
  margin-bottom: 10px;
}

.modal__input {
  height: 40px;
  padding: 12px 0;
  padding-left: 42px;
  width: 100%;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__input:focus + & {
    fill: var(--accent-text-color);
  }
}

.modal__textarea {
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  resize: none;

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__input,
.modal__textarea {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__input:focus,
.modal__textarea:focus {
  border: 1px solid var(--accent-text-color);
  border-radius: 4px;
  outline: none;
}

.agreement-box {
  margin-bottom: 30px;
  align-self: center;
}

.check-img {
  display: block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  background-image: url(../images/svg/check-off.svg);
  border-radius: 2px;

  .agreement-box__input:focus + .agreement-box__label > & {
    outline: 2px solid var(--accent-text-color);
  }

  .agreement-box__input:checked + .agreement-box__label > & {
    background-color: var(--accent-text-color);
    background-image: url(../images/svg/check-on.svg);
    background-repeat: no-repeat;
    background-position: center;

    outline: none;
  }
}

.agreement-box__label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.agreement-box__link {
  color: var(--accent-text-color);
}

.modal-btn {
  align-self: center;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: #ffffff;
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
}
