.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);

  &--dark {
    color: var(--secondary-text-color);
  }

  &-light {
    color: var(--white-text-color);
  }

  &--in-header {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
  }
}
